.navigation{
    &-toggle{
        width: 7rem;
        height: 7rem;
        background-color: $color-white;
        position: fixed;
        z-index: 100;
        border-radius: 50%;
        top: 4rem;
        right: 4rem;
        cursor:pointer;
        box-shadow: 0 1rem 3rem rgba($color-dark, 0.1);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
     }
    
     &-icon{
        width: 3rem;
        height: 2px;
        background-color: $color-grey-dark-1;
        display: inline-block;
        position: relative;

        &::before{
            content: '';
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-1;
            position: absolute;
            left: 0;
            top: -.8rem;
            transition: all .3 ease-in-out;
        }

        &::after{
            content: '';
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-1;
            position: absolute;
            left: 0;
            top: .8rem;
        }
     }

     &-background{
        width: 7rem;
        height: 7rem;
        position: fixed;
        position: fixed;
        border-radius: 50%;
        z-index: 100;
        top: 4rem;
        right: 4rem;
        cursor: pointer;
        @include lg( to right bottom, $color-primary-light,$color-primary-dark);
        z-index: 80;
        transition: transform .5s ease-in-out;
     }

     &-nav{
        position: fixed;
        left: -100%;
        top: 0;
        height: 100vh;
        opacity: 0;
        width: 100%;
        text-align: center;
        z-index: 80;
        transition: all 0.4s;
        @include atCenter;
     }

     &-item{
        margin: 1ren;
     }

     &-link{
        &:link,&:visited{
            display: inline-block;
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: 400;
            padding: 1rem 2rem;
            transition: all 0.4s;
            color: $color-white;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 235%;
            transition: all 0.4s ease-in-out;
        }

        &:hover,&:focus{
            background-position: 100%;
            color: $color-primary-dark;
            font-weight: 700;
        }
     }


     &.active{
        .navigation-background{
            transform: scale(60);
        }

        .navigation-icon{
            background-color: transparent;

            &::before{
                top: 0;
                transform: rotate(135deg);
            }

            &::after{
                top: 0;
                transform: rotate(-135deg);
            }
            
        }

        .navigation-nav{
            left: 0;
            opacity: 1;
            animation: moveInleft .6s ease-in ;
        }
     }


}
 